@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {

  /* Light Mode */
  body {
    min-height: 100vh;
    background-color: var(#000000);
    background-image:
      radial-gradient(at 2% 5%, var(#4d1d8b) 0, transparent 68%),
      radial-gradient(at 15% 10%, var(#e7e5e4) 0, transparent 38%),
      radial-gradient(at 62% 99%, var(#fdbb74) 0, transparent 59%),
      radial-gradient(at 73% 92%, var(#fecdd3) 0, transparent 99%),
      radial-gradient(at 86% 13%, var(#64748b) 0, transparent 59%),
      radial-gradient(at 85% 58%, var(#404040) 0, transparent 38%);
  }

  /* Dark Mode change transparency? */
  body,
  .dark {
    min-height: 100vh;
    background-color: var(#000000);
    background-image:
      radial-gradient(at 2% 5%, var(#13917c) 0, transparent 68%),
      radial-gradient(at 15% 10%, var(#260f4a) 0, transparent 38%),
      radial-gradient(at 62% 99%, var(#79716c) 0, transparent 59%),
      radial-gradient(at 73% 92%, var(#b65f03) 0, transparent 99%),
      radial-gradient(at 86% 13%, var(#323a45) 0, transparent 59%),
      radial-gradient(at 85% 58%, var(#202020) 0, transparent 38%);
  }

  /* System Mode: change transparency? */
  @media (prefers-color-scheme:dark) {
    body {
      min-height: 100vh;
      background-color: var(#000000);
      background-image:
        radial-gradient(at 2% 5%, var(#13917c) 0, transparent 68%),
        radial-gradient(at 15% 10%, var(#260f4a) 0, transparent 38%),
        radial-gradient(at 62% 99%, var(#79716c) 0, transparent 59%),
        radial-gradient(at 73% 92%, var(#b65f03) 0, transparent 99%),
        radial-gradient(at 86% 13%, var(#323a45) 0, transparent 59%),
        radial-gradient(at 85% 58%, var(#202020) 0, transparent 38%);
    }
  }

  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}