:root {
  --blur: 0px
}

@layer base {
  .glitch:hover {
    box-shadow:
      -4px -4px var(--blur) 0px #f00,
      4px 4px var(--blur) 0px #fff,
      0px 0px var(--blur) 0px #00f;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-iteration-count: infinite;
    animation-name: glitchy;
  }


  /* f00 : red, fff : white, 00f : blue */
  @keyframes glitchy {
    0% {
      box-shadow:
        -4px -4px var(--blur) 0px #f00,
        4px 4px var(--blur) 0px #fff,
        0px 0px var(--blur) 0px #00f;
    }

    /* Changeable START */
    25% {
      box-shadow:
        4px 4px var(--blur) 0px #fff,
        -4px -4px var(--blur) 0px #f00,
        0px 0px var(--blur) 0px #00f;
    }

    50% {
      box-shadow:
        -8px -8px var(--blur) 0px #fff,
        4px 4px var(--blur) 0px #00f,
        0px 0px var(--blur) 0px #f00;

    }

    75% {
      box-shadow:
        8px 8px var(--blur) 0px #00f,
        -4px -4px var(--blur) 0px #fff,
        0px 0px var(--blur) 0px #f00;
    }

    /* Changeable END*/

    100% {
      box-shadow:
        -4px -4px var(--blur) 0px #f00,
        4px 4px var(--blur) 0px #fff,
        0px 0px var(--blur) 0px #00f;
    }
  }

}