@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adjust to color scheme 
  Radial Top Left:
  ===
  Light Mode => from-slate-200, via-indigo-200, to-amber-100
  Dark Mode => from-slate-900, via-indigo-900, to-amber-800
  ===
*/
html,
.light {
  color: black;
  min-height: 100vh;
  background-color: rgb(236, 252, 203);
  /* slate-200, indigo-200, amber-100 */
  background-image: radial-gradient(at left top, rgb(226, 232, 240), rgb(199, 210, 254), rgb(254, 243, 199));
}

html,
.dark {
  color: white;
  min-height: 100vh;
  /* slate-900, indigo-900, amber-800 */
  background-image: radial-gradient(at left top, rgb(15, 23, 42), rgb(49, 46, 129), rgb(146, 64, 14));
  background-color: rgb(236, 252, 203);
}

::-webkit-scrollbar {
  @apply w-auto;
}

::-webkit-scrollbar-thumb {
  /* @apply bg-gradient-to-b from-slate-900 to-slate-800; */
  @apply bg-slate-900
}

:root {
  --blur: 0px
}

.glitch:hover {
  box-shadow:
    -4px -4px var(--blur) 0px #f00,
    4px 4px var(--blur) 0px #fff,
    0px 0px var(--blur) 0px #00f;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  animation-iteration-count: infinite;
  animation-name: glitchy;
}


/* f00 : red, fff : white, 00f : blue */
@keyframes glitchy {
  0% {
    box-shadow:
      -4px -4px var(--blur) 0px #f00,
      4px 4px var(--blur) 0px #fff,
      0px 0px var(--blur) 0px #00f;
  }

  /* Changeable START */
  25% {
    box-shadow:
      4px 4px var(--blur) 0px #fff,
      -4px -4px var(--blur) 0px #f00,
      0px 0px var(--blur) 0px #00f;
  }

  50% {
    box-shadow:
      -8px -8px var(--blur) 0px #fff,
      4px 4px var(--blur) 0px #00f,
      0px 0px var(--blur) 0px #f00;

  }

  75% {
    box-shadow:
      8px 8px var(--blur) 0px #00f,
      -4px -4px var(--blur) 0px #fff,
      0px 0px var(--blur) 0px #f00;
  }

  /* Changeable END*/

  100% {
    box-shadow:
      -4px -4px var(--blur) 0px #f00,
      4px 4px var(--blur) 0px #fff,
      0px 0px var(--blur) 0px #00f;
  }
}