/* Adjust to color scheme 
  Radial Top Left:
  ===
  Light Mode => from-slate-200, via-indigo-200, to-amber-100
  Dark Mode => from-slate-900, via-indigo-900, to-amber-800
  ===

  It should contain multiple themes, like a hydrogen theme, carbon theme, or helium theme, etc..
*/

@layer base {

  html,
  .light {
    color: black;
    min-height: 100vh;
    background-color: rgb(236, 252, 203);
    /* slate-200, indigo-200, amber-100 */
    background-image: radial-gradient(at left top, rgb(226, 232, 240), rgb(199, 210, 254), rgb(254, 243, 199));
  }

  html,
  .dark {
    color: white;
    min-height: 100vh;
    /* slate-900, indigo-900, amber-800 */
    background-image: radial-gradient(at left top, rgb(15, 23, 42), rgb(49, 46, 129), rgb(146, 64, 14));
    background-color: rgb(236, 252, 203);
  }
}